## Mapping data from multiple json file 

- obtain genres name from genres json file 
- map the genres name to discover (movie) json file (from genre id to genres name)

In [1]:
import numpy as np 
import pandas as pd 
import json
import requests

In [2]:
api_key = "api_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

In [3]:
basic_url = "https://api.themoviedb.org/3/discover/movie?{}&include_adult=false&include_video=false&page={}"

In [4]:
requests.get(basic_url.format(api_key, 1)).json()

{'total_pages': 500,
 'page': 1,
 'total_results': 10000,
 'results': [{'adult': False,
   'backdrop_path': '/fTDzKoQIh1HeyjfpG5AHMi2jxAJ.jpg',
   'genre_ids': [28, 35],
   'original_language': 'en',
   'original_title': 'Chick Fight',
   'poster_path': '/4ZocdxnOO6q2UbdKye2wgofLFhB.jpg',
   'title': 'Chick Fight',
   'video': False,
   'vote_average': 6.1,
   'popularity': 2082.744,
   'overview': 'When Anna Wyncomb is introduced to an an underground, all-female fight club in order to turn the mess of her life around, she discovers she is much more personally connected to the history of the club than she could ever imagine.',
   'release_date': '2020-11-13',
   'id': 682377,
   'vote_count': 33},
  {'id': 724989,
   'backdrop_path': '/86L8wqGMDbwURPni2t7FQ0nDjsH.jpg',
   'genre_ids': [28, 53],
   'original_language': 'en',
   'original_title': 'Hard Kill',
   'poster_path': '/ugZW8ocsrfgI95pnQ7wrmKDxIe.jpg',
   'title': 'Hard Kill',
   'video': False,
   'vote_average': 5,
   'popularity': 1886.945,
   'vote_count': 201,
   'release_date': '2020-10-23',
   'adult': False,
   'overview': 'The work of billionaire tech CEO Donovan Chalmers is so valuable that he hires mercenaries to protect it, and a terrorist group kidnaps his daughter just to get it.'},
  {'adult': False,
   'backdrop_path': '/lM9f4CnWU4RIY8HiVrwmrNKJpYN.jpg',
   'genre_ids': [35],
   'original_language': 'es',
   'original_title': 'Historias lamentables',
   'poster_path': '/sp4zXS3x4wHyL8wm8zLioiBrxuR.jpg',
   'vote_count': 35,
   'video': False,
   'vote_average': 7.2,
   'popularity': 1342.233,
   'overview': 'Four interconnected plots starring Ramón, a young heir; Bermejo, a tourist obsessed with order; Ayoub, an African immigrant pursuing his dream; and Alipio, a businessman addicted with gambling.',
   'release_date': '2020-11-19',
   'id': 650747,
   'title': 'Unfortunate Stories'},
  {'adult': False,
   'backdrop_path': '/aO5ILS7qnqtFIprbJ40zla0jhpu.jpg',
   'genre_ids': [28, 53, 12, 18],
   'original_language': 'en',
   'original_title': 'Welcome to Sudden Death',
   'poster_path': '/elZ6JCzSEvFOq4gNjNeZsnRFsvj.jpg',
   'vote_count': 178,
   'video': False,
   'vote_average': 6.4,
   'popularity': 1199.82,
   'overview': "Jesse Freeman is a former special forces officer and explosives expert now working a regular job as a security guard in a state-of-the-art basketball arena. Trouble erupts when a tech-savvy cadre of terrorists kidnap the team's owner and Jesse's daughter during opening night. Facing a ticking clock and impossible odds, it's up to Jesse to not only save them but also a full house of fans in this highly charged action thriller.",
   'release_date': '2020-09-29',
   'id': 741067,
   'title': 'Welcome to Sudden Death'},
  {'adult': False,
   'backdrop_path': '/gnf4Cb2rms69QbCnGFJyqwBWsxv.jpg',
   'genre_ids': [53, 28, 18, 80],
   'original_language': 'fr',
   'original_title': 'Bronx',
   'poster_path': '/9HT9982bzgN5on1sLRmc1GMn6ZC.jpg',
   'id': 671039,
   'title': 'Rogue City',
   'vote_average': 5.9,
   'popularity': 1174.741,
   'vote_count': 253,
   'release_date': '2020-10-30',
   'video': False,
   'overview': 'Caught in the crosshairs of police corruption and Marseille’s warring gangs, a loyal cop must protect his squad by taking matters into his own hands.'},
  {'id': 524047,
   'backdrop_path': '/2Fk3AB8E9dYIBc2ywJkxk8BTyhc.jpg',
   'genre_ids': [28, 53],
   'original_language': 'en',
   'original_title': 'Greenland',
   'poster_path': '/bNo2mcvSwIvnx8K6y1euAc1TLVq.jpg',
   'title': 'Greenland',
   'video': False,
   'vote_average': 7.2,
   'popularity': 1138.714,
   'vote_count': 758,
   'release_date': '2020-07-29',
   'adult': False,
   'overview': "John Garrity, his estranged wife and their young son embark on a perilous journey to find sanctuary as a planet-killing comet hurtles toward Earth. Amid terrifying accounts of cities getting levelled, the Garrity's experience the best and worst in humanity. As the countdown to the global apocalypse approaches zero, their incredible trek culminates in a desperate and last-minute flight to a possible safe haven."},
  {'adult': False,
   'backdrop_path': '/8rIoyM6zYXJNjzGseT3MRusMPWl.jpg',
   'genre_ids': [14, 10751, 12, 35, 27],
   'original_language': 'en',
   'original_title': "Roald Dahl's The Witches",
   'poster_path': '/betExZlgK0l7CZ9CsCBVcwO1OjL.jpg',
   'vote_count': 827,
   'video': False,
   'vote_average': 6.9,
   'popularity': 1102.142,
   'overview': "In late 1967, a young orphaned boy goes to live with his loving grandma in the rural Alabama town of Demopolis. As the boy and his grandmother encounter some deceptively glamorous but thoroughly diabolical witches, she wisely whisks him away to a seaside resort. Regrettably, they arrive at precisely the same time that the world's Grand High Witch has gathered.",
   'release_date': '2020-10-26',
   'id': 531219,
   'title': "Roald Dahl's The Witches"},
  {'adult': False,
   'backdrop_path': '/gEjNlhZhyHeto6Fy5wWy5Uk3A9D.jpg',
   'genre_ids': [28, 27, 53],
   'original_language': 'ko',
   'original_title': '반도',
   'poster_path': '/sy6DvAu72kjoseZEjocnm2ZZ09i.jpg',
   'id': 581392,
   'video': False,
   'vote_average': 7,
   'popularity': 1008.824,
   'overview': 'A soldier and his team battle hordes of post-apocalyptic zombies in the wastelands of the Korean Peninsula.',
   'release_date': '2020-07-15',
   'vote_count': 837,
   'title': 'Peninsula'},
  {'id': 602211,
   'backdrop_path': '/ckfwfLkl0CkafTasoRw5FILhZAS.jpg',
   'genre_ids': [28, 35, 14],
   'original_language': 'en',
   'original_title': 'Fatman',
   'poster_path': '/4n8QNNdk4BOX9Dslfbz5Dy6j1HK.jpg',
   'adult': False,
   'video': False,
   'vote_average': 6.1,
   'popularity': 989.472,
   'overview': 'A rowdy, unorthodox Santa Claus is fighting to save his declining business. Meanwhile, Billy, a neglected and precocious 12 year old, hires a hit man to kill Santa after receiving a lump of coal in his stocking.',
   'release_date': '2020-11-13',
   'vote_count': 81,
   'title': 'Fatman'},
  {'adult': False,
   'backdrop_path': '/kMe4TKMDNXTKptQPAdOF0oZHq3V.jpg',
   'genre_ids': [80, 18, 9648],
   'original_language': 'en',
   'original_title': 'Enola Holmes',
   'poster_path': '/riYInlsq2kf1AWoGm80JQW5dLKp.jpg',
   'id': 497582,
   'video': False,
   'vote_average': 7.5,
   'popularity': 984.544,
   'overview': 'While searching for her missing mother, intrepid teen Enola Holmes uses her sleuthing skills to outsmart big brother Sherlock and help a runaway lord.',
   'release_date': '2020-09-23',
   'vote_count': 2752,
   'title': 'Enola Holmes'},
  {'adult': False,
   'backdrop_path': '/x2lPPe2aH76uyYVhkVCtzTMYawC.jpg',
   'genre_ids': [16, 10751, 14],
   'original_language': 'en',
   'original_title': 'Alien Xmas',
   'poster_path': '/3UGrAX6D1AMVra80jmUMUOLq8Qr.jpg',
   'vote_count': 40,
   'video': False,
   'vote_average': 7.4,
   'popularity': 955.889,
   'overview': "A young elf mistakes a tiny alien for a Christmas gift, not knowing her new plaything has plans to destroy Earth's gravity — and steal all the presents.",
   'release_date': '2020-11-20',
   'id': 656561,
   'title': 'Alien Xmas'},
  {'id': 337401,
   'backdrop_path': '/qAKvUu2FSaDlnqznY4VOp5PmjIF.jpg',
   'genre_ids': [28, 12, 18, 14],
   'original_language': 'en',
   'original_title': 'Mulan',
   'poster_path': '/aKx1ARwG55zZ0GpRvU2WrGrCG9o.jpg',
   'title': 'Mulan',
   'video': False,
   'vote_average': 7.2,
   'popularity': 901.576,
   'overview': 'When the Emperor of China issues a decree that one man per family must serve in the Imperial Chinese Army to defend the country from Huns, Hua Mulan, the eldest daughter of an honored warrior, steps in to take the place of her ailing father. She is spirited, determined and quick on her feet. Disguised as a man by the name of Hua Jun, she is tested every step of the way and must harness her innermost strength and embrace her true potential.',
   'release_date': '2020-09-04',
   'vote_count': 3064,
   'adult': False},
  {'id': 400160,
   'backdrop_path': '/wu1uilmhM4TdluKi2ytfz8gidHf.jpg',
   'genre_ids': [16, 14, 12, 35, 10751],
   'original_language': 'en',
   'original_title': 'The SpongeBob Movie: Sponge on the Run',
   'poster_path': '/jlJ8nDhMhCYJuzOw3f52CP1W8MW.jpg',
   'title': 'The SpongeBob Movie: Sponge on the Run',
   'video': False,
   'vote_average': 8,
   'popularity': 877.882,
   'overview': 'When his best friend Gary is suddenly snatched away, SpongeBob takes Patrick on a madcap mission far beyond Bikini Bottom to save their pink-shelled pal.',
   'release_date': '2020-08-14',
   'vote_count': 1608,
   'adult': False},
  {'adult': False,
   'backdrop_path': '/pq0JSpwyT2URytdFG0euztQPAyR.jpg',
   'genre_ids': [28],
   'original_language': 'en',
   'original_title': 'Money Plane',
   'poster_path': '/6CoRTJTmijhBLJTUNoVSUNxZMEI.jpg',
   'vote_count': 197,
   'video': False,
   'vote_average': 5.8,
   'popularity': 777.397,
   'overview': "A professional thief with $40 million in debt and his family's life on the line must commit one final heist - rob a futuristic airborne casino filled with the world's most dangerous criminals.",
   'release_date': '2020-09-29',
   'id': 694919,
   'title': 'Money Plane'},
  {'id': 624779,
   'backdrop_path': '/h5sUE9jqoYrjsFjANJXL0gpZGye.jpg',
   'genre_ids': [28, 53, 27],
   'original_language': 'en',
   'original_title': 'VFW',
   'poster_path': '/AnVD7Gn14uOTQhcc5xYZGQ9DRvS.jpg',
   'overview': 'A typical night for veterans at a VFW turns into an all-out battle for survival when a desperate teen runs into the bar with a bag of stolen drugs. When a gang of violent punks come looking for her, the vets use every weapon at their disposal to protect the girl and themselves from an unrelenting attack.',
   'video': False,
   'vote_average': 4.8,
   'popularity': 758.346,
   'vote_count': 17,
   'release_date': '2020-10-14',
   'adult': False,
   'title': 'VFW'},
  {'id': 741074,
   'backdrop_path': '/DA7gzvlBoxMNL0XmGgTZOyv67P.jpg',
   'genre_ids': [16, 10751, 35, 14],
   'original_language': 'en',
   'original_title': 'Once Upon a Snowman',
   'poster_path': '/hddzYJtfYYeMDOQVcH58n8m1W3A.jpg',
   'overview': 'The previously untold origins of Olaf, the innocent and insightful, summer-loving snowman are revealed as we follow Olaf’s first steps as he comes to life and searches for his identity in the snowy mountains outside Arendelle.',
   'video': False,
   'vote_average': 6.9,
   'popularity': 690.369,
   'vote_count': 181,
   'release_date': '2020-10-23',
   'adult': False,
   'title': 'Once Upon a Snowman'},
  {'id': 635780,
   'backdrop_path': '/lpQQnw5yHJpKWR9sh14a3t6Iul7.jpg',
   'genre_ids': [28, 10752],
   'original_language': 'en',
   'original_title': 'Rogue Warfare: Death of a Nation',
   'poster_path': '/w1ZxQAHPDW2roZF1fcKGHfRpUYi.jpg',
   'overview': 'The Black Mask Organization coordinates a twisted plot which will devastate the world within the next 36 hours. The TEAM is immediately dispatched again for what will hopefully be the last stand against the ‘Supreme Leader.’ As the clock ticks, so does the bomb and they need to strike back at the very core of the terrorist group. The team must throw their lives on the line as it’s the only way to deactivate the dangerous weapons which are set to explode across the world at the same time. Each soldier must find his inner strength and skill to disarm this terrorist group once and for all.',
   'video': False,
   'vote_average': 4.8,
   'popularity': 670.51,
   'vote_count': 4,
   'release_date': '2020-09-25',
   'adult': False,
   'title': 'Rogue Warfare: Death of a Nation'},
  {'id': 539885,
   'backdrop_path': '/54yOImQgj8i85u9hxxnaIQBRUuo.jpg',
   'genre_ids': [28, 80, 18, 53],
   'original_language': 'en',
   'original_title': 'Ava',
   'poster_path': '/qzA87Wf4jo1h8JMk9GilyIYvwsA.jpg',
   'adult': False,
   'video': False,
   'vote_average': 5.6,
   'popularity': 666.113,
   'overview': 'A black ops assassin is forced to fight for her own survival after a job goes dangerously wrong.',
   'release_date': '2020-07-02',
   'vote_count': 676,
   'title': 'Ava'},
  {'adult': False,
   'backdrop_path': '/x4UkhIQuHIJyeeOTdcbZ3t3gBSa.jpg',
   'genre_ids': [28, 12, 18, 53],
   'original_language': 'en',
   'original_title': 'Rogue',
   'poster_path': '/uOw5JD8IlD546feZ6oxbIjvN66P.jpg',
   'vote_count': 382,
   'title': 'Rogue',
   'vote_average': 5.7,
   'popularity': 654.645,
   'overview': 'Battle-hardened O’Hara leads a lively mercenary team of soldiers on a daring mission: rescue hostages from their captors in remote Africa. But as the mission goes awry and the team is stranded, O’Hara’s squad must face a bloody, brutal encounter with a gang of rebels.',
   'release_date': '2020-08-20',
   'video': False,
   'id': 718444},
  {'id': 613504,
   'backdrop_path': '/6hgItrYQEG33y0I7yP2SRl2ei4w.jpg',
   'genre_ids': [10749, 18],
   'original_language': 'en',
   'original_title': 'After We Collided',
   'poster_path': '/kiX7UYfOpYrMFSAGbI6j1pFkLzQ.jpg',
   'title': 'After We Collided',
   'video': False,
   'vote_average': 7.3,
   'popularity': 649.782,
   'vote_count': 2189,
   'release_date': '2020-09-02',
   'adult': False,
   'overview': 'Tessa finds herself struggling with her complicated relationship with Hardin; she faces a dilemma that could change their lives forever.'}]}

In [5]:
json_list=[]

for i in range(1,501): #total_pages = 500
    r = requests.get(basic_url.format(api_key, i))
    if r.status_code != 200:
        continue 
    else:
        data = r.json()
        json_list = json_list + data['results']

In [6]:
df_json= pd.json_normalize(data=json_list)

In [7]:
df_json.set_index('id', inplace=True)
df_json.head()

,adult,backdrop_path,genre_ids,original_language,original_title,poster_path,title,video,vote_average,popularity,overview,release_date,vote_count
id,,,,,,,,,,,,,
682377,False,/fTDzKoQIh1HeyjfpG5AHMi2jxAJ.jpg,"[28, 35]",en,Chick Fight,/4ZocdxnOO6q2UbdKye2wgofLFhB.jpg,Chick Fight,False,6.1,2082.744,When Anna Wyncomb is introduced to an an under...,2020-11-13,33
724989,False,/86L8wqGMDbwURPni2t7FQ0nDjsH.jpg,"[28, 53]",en,Hard Kill,/ugZW8ocsrfgI95pnQ7wrmKDxIe.jpg,Hard Kill,False,5.0,1886.945,The work of billionaire tech CEO Donovan Chalm...,2020-10-23,201
650747,False,/lM9f4CnWU4RIY8HiVrwmrNKJpYN.jpg,[35],es,Historias lamentables,/sp4zXS3x4wHyL8wm8zLioiBrxuR.jpg,Unfortunate Stories,False,7.2,1342.233,"Four interconnected plots starring Ramón, a yo...",2020-11-19,35
741067,False,/aO5ILS7qnqtFIprbJ40zla0jhpu.jpg,"[28, 53, 12, 18]",en,Welcome to Sudden Death,/elZ6JCzSEvFOq4gNjNeZsnRFsvj.jpg,Welcome to Sudden Death,False,6.4,1199.820,Jesse Freeman is a former special forces offic...,2020-09-29,178
671039,False,/gnf4Cb2rms69QbCnGFJyqwBWsxv.jpg,"[53, 28, 18, 80]",fr,Bronx,/9HT9982bzgN5on1sLRmc1GMn6ZC.jpg,Rogue City,False,5.9,1174.741,Caught in the crosshairs of police corruption ...,2020-10-30,253

In [8]:
df_genres = df_json[['genre_ids']]
df_genres

                 genre_ids
id
682377            [28, 35]
724989            [28, 53]
650747                [35]
741067    [28, 53, 12, 18]
671039    [53, 28, 18, 80]
...                    ...
490263                [99]
363476      [10749, 10770]
295592                [99]
16175   [18, 27, 9648, 53]
553141            [27, 14]

[10000 rows x 1 columns]

In [9]:
json_list = requests.get("https://api.themoviedb.org/3/genre/movie/list?api_key=2150281ee836fc2bb45a4164cf0de15c").json()['genres']

In [10]:
json_df = pd.DataFrame(json_list)
json_df.rename(columns={'id':'genre_id', 'name':'genre_name'}, inplace=True)
json_df.set_index('genre_id', inplace=True)

In [11]:
#flatten df_genres
df_genres_list = pd.DataFrame(df_genres['genre_ids'].to_list(), index=df_genres.index)
df_genres_list.head()

           0     1     2     3   4   5   6   7
id
682377  28.0  35.0   NaN   NaN NaN NaN NaN NaN
724989  28.0  53.0   NaN   NaN NaN NaN NaN NaN
650747  35.0   NaN   NaN   NaN NaN NaN NaN NaN
741067  28.0  53.0  12.0  18.0 NaN NaN NaN NaN
671039  53.0  28.0  18.0  80.0 NaN NaN NaN NaN

In [12]:
#map - genre_id to genre_name

for i in range(len(df_genres_list.columns)):
    df_genres_list[i] = df_genres_list[i].map(json_df.genre_name)

In [13]:
df_genres_list.head()

               0         1          2      3    4    5    6    7
id
682377    Action    Comedy        NaN    NaN  NaN  NaN  NaN  NaN
724989    Action  Thriller        NaN    NaN  NaN  NaN  NaN  NaN
650747    Comedy       NaN        NaN    NaN  NaN  NaN  NaN  NaN
741067    Action  Thriller  Adventure  Drama  NaN  NaN  NaN  NaN
671039  Thriller    Action      Drama  Crime  NaN  NaN  NaN  NaN

In [14]:
#back to list format

df_genres_list['genres_combined'] = df_genres_list[df_genres_list.columns[:]].apply(lambda x: '|'.join(x.dropna()), axis=1)

In [15]:
df_genres_list.head()

,0,1,2,3,4,5,6,7,genres_combined
id,,,,,,,,,
682377,Action,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,Action|Comedy
724989,Action,Thriller,NaN,NaN,NaN,NaN,NaN,NaN,Action|Thriller
650747,Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Comedy
741067,Action,Thriller,Adventure,Drama,NaN,NaN,NaN,NaN,Action|Thriller|Adventure|Drama
671039,Thriller,Action,Drama,Crime,NaN,NaN,NaN,NaN,Thriller|Action|Drama|Crime

In [16]:
#add genres_combined to df_json

df = df_json.merge(df_genres_list['genres_combined'], left_index=True, right_index=True)

In [17]:
df.head()

,adult,backdrop_path,genre_ids,original_language,original_title,poster_path,title,video,vote_average,popularity,overview,release_date,vote_count,genres_combined
id,,,,,,,,,,,,,,
682377,False,/fTDzKoQIh1HeyjfpG5AHMi2jxAJ.jpg,"[28, 35]",en,Chick Fight,/4ZocdxnOO6q2UbdKye2wgofLFhB.jpg,Chick Fight,False,6.1,2082.744,When Anna Wyncomb is introduced to an an under...,2020-11-13,33,Action|Comedy
724989,False,/86L8wqGMDbwURPni2t7FQ0nDjsH.jpg,"[28, 53]",en,Hard Kill,/ugZW8ocsrfgI95pnQ7wrmKDxIe.jpg,Hard Kill,False,5.0,1886.945,The work of billionaire tech CEO Donovan Chalm...,2020-10-23,201,Action|Thriller
650747,False,/lM9f4CnWU4RIY8HiVrwmrNKJpYN.jpg,[35],es,Historias lamentables,/sp4zXS3x4wHyL8wm8zLioiBrxuR.jpg,Unfortunate Stories,False,7.2,1342.233,"Four interconnected plots starring Ramón, a yo...",2020-11-19,35,Comedy
741067,False,/aO5ILS7qnqtFIprbJ40zla0jhpu.jpg,"[28, 53, 12, 18]",en,Welcome to Sudden Death,/elZ6JCzSEvFOq4gNjNeZsnRFsvj.jpg,Welcome to Sudden Death,False,6.4,1199.820,Jesse Freeman is a former special forces offic...,2020-09-29,178,Action|Thriller|Adventure|Drama
671039,False,/gnf4Cb2rms69QbCnGFJyqwBWsxv.jpg,"[53, 28, 18, 80]",fr,Bronx,/9HT9982bzgN5on1sLRmc1GMn6ZC.jpg,Rogue City,False,5.9,1174.741,Caught in the crosshairs of police corruption ...,2020-10-30,253,Thriller|Action|Drama|Crime

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 682377 to 553141
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              10000 non-null  bool
 1   backdrop_path      9549 non-null   object
 2   genre_ids          10000 non-null  object
 3   original_language  10000 non-null  object
 4   original_title     10000 non-null  object
 5   poster_path        9920 non-null   object
 6   title              10000 non-null  object
 7   video              10000 non-null  bool
 8   vote_average       10000 non-null  float64
 9   popularity         10000 non-null  float64
 10  overview           10000 non-null  object
 11  release_date       9982 non-null   object
 12  vote_count         10000 non-null  int64
 13  genres_combined    10000 non-null  object
dtypes: bool(2), float64(2), int64(1), object(9)
memory usage: 1.3+ MB

- genre_ids 10000 non-null 
- genres_combined 10000 non-null